:root {
    --primaryPink: #D81159;
    --secondaryPink: #882D53;
    --black: #000000;
    --white: #fff;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Mono', monospace;
    color: var(--black);
}
/* UTILITIES */
/*Font color accents*/
.pink-accent-bold {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primaryPink);
    font-weight: bolder;
}
.pink-accent-regular {
    color: var(--primaryPink);  
}
.secondary-pink-accent-bold {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--secondaryPink);
    font-weight: bolder;
}
.secondary-pink-accent-regular {
    color: var(--secondaryPink);
}
.black-accent-bold {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--black);
    font-weight: bolder;
    
}
/*Buttons*/
.button-shape {
    height: 4.5rem;
    width: 23rem;
    border: none;
    border-radius: 4.5rem;
    font-size: 1.5rem;
}
.button-shape:hover {
    opacity: .7;
}
.button-shape-wrap {
    width: fit-content;
}
.button-shape-wrap div{
    margin: 0 2rem;
}
.thumbnail-size {
    object-fit: cover;
    width: 100%;
    margin: 3rem auto;
}
/*Banner Section*/
.banner {
    width: 100%;
    height: 72rem;
    background-image: url("img/custom-soft-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 0;
}
.banner h1 {
    font-size: 3rem;
    color: var(--white );
}
.banner img {
    height: 25rem;
    margin: 0 auto;
}


.contact-banner-button {
    color: var(--primaryPink);
    background-color: var(--white);
}
.consultancy-button,
.contact-madein-button,
.consultancy-our-services-button {
    color: var(--white);
    background-color: var(--primaryPink);
}
.learn-more-button,
.signup-button {
    color: var(--white);
    background-color: var(--black);
}

/*Que somos section*/
.que-somos {
    text-align:center;
    margin-top: 4rem;
    margin-bottom: 8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 3.4rem;
}
.que-somos-logo {
    width: 15rem;
    margin-bottom: 2rem;
}
.que-somos p {
    font-size: 2rem;
}
.que-somos figure {
    margin-bottom: 8rem;
}

.services-description,
.our-services,
.software-trends {
    margin: 12rem auto;
    width: 30rem;
    font-size: 2rem;
}

/* Made in Mariachi section*/
.made-in {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 8rem auto;
}
.made-in h2 {
    font-size: 5rem;
}
.made-in p {
    font-size: 2.7rem;
    line-height: 2.7rem;
    margin: 4rem 0;
}
/*Carousel*/
.slide img{
    height: 46rem;
    object-fit: cover;
}
.carousel-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.carousel-control-prev,
.carousel-control-next {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: var(--black);
    opacity: 1;
    border-radius: 50%;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: .7;
}
.contact-madein-button {
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.our-services h2,
.software-trends h2 {
    font-size: 2.1rem;
}
.our-services span {
    font-size: 3.5rem;
}
.our-services figcaption,
.our-services figcaption span {
    font-size: 2.3rem;
}
.consultancy-our-services-button {
    margin-top: 12rem;
}

/*Footer*/
.footer-dropdown {
    font-size: 1.5rem;
}
.accordion {
    --bs-accordion-active-bg: var(--primaryPink);
    --bs-accordion-active-color: var(--white);
    --bs-accordion-border-color: none;
}
.accordion-item {
    --bs-accordion-border-color: none;
    --bs-accordion-active-border-color: none;
}

.accordion-button {
    font-size: 1.6rem;
    padding-left: 2rem;
}
.dropdown-item a {
    text-decoration: none;
    color: var(--black);
}
.footer-links {
    margin: 4rem auto;
    width: 34rem;
    font-size: 2rem;
}
.footer-links h2 {
    font-size: 3.5rem;
}
.footer-links p {
    font-size: 1.2rem;
}