:root {
    --primaryPink: #D81159;
    --secondaryPink: #882D53;
    --black: #000000;
    --white: #fff;
}

html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Mono', monospace;
    color: var(--black);
}
/* UTILITIES */
/*Font color accents*/
.pink-accent-bold {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primaryPink);
    font-weight: bolder;
}
.pink-accent-regular {
    color: var(--primaryPink);
    
}
/*Buttons*/
.button-shape {
    height: 4.5rem;
    width: 23rem;
    border: none;
    border-radius: 4.5rem;
    font-size: 1.5rem;
}
/*Banner Section*/
.banner {
    width: 100%;
    height: 72rem;
    background-image: url("img/custom-soft-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
    z-index: 0;
}
.banner h1 {
    font-size: 3rem;
    color: var(--white );
}
.banner img {
    height: 25rem;
    margin: 0 auto;
}


.contact-button {
    color: var(--primaryPink);
    background-color: var(--white);
}
.consultancy-button {
    color: var(--white);
    background-color: var(--primaryPink);
}

/*Que somos section*/
.que-somos {
    text-align:center;
    margin-top: 4rem;
    margin-bottom: 8rem;
    width: 34rem;
    font-size: 3.4rem;
}
.que-somos-logo {
    width: 15rem;
    margin-bottom: 2rem;
}
.que-somos p {
    font-size: 2.4rem;
}
.que-somos figure {
    margin-bottom: 8rem;
}
.services-description {
    width: 34rem;
    font-size: 3.4rem;
}

.serv {

    text-align:center;
    margin-top: 4rem;
    padding-left: auto;
    padding-right: auto;

}

.made-in {
    
}

.made-in .m1 {
    background-image: url("img/achieving-success-in-web-development.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 30rem;
  
}

.made-in .m2 {
    background-image: url("img/analyst-of-coding.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 30rem;
  
}

.made-in .m3 {
    background-image: url("img/custom-soft-fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 30rem;
  
}

.icon-services {
    width: 70%;
}



